In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [2]:
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.max_columns', None)  
pd.set_option('display.max_colwidth', -1)
get_ipython().magic(u'matplotlib inline') # same as %matplotlib inline

In [3]:
import seaborn as sns
sns.set_style("whitegrid")

# Data exploration

An awesome library for visualizing pandas dataframe is [qgrid](https://github.com/quantopian/qgrid). it helps in data explorations

In [4]:
import qgrid
randn = np.random.randn
df_types = pd.DataFrame({
    'A' : pd.Series(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08', '2013-01-09'],index=list(range(9)),dtype='datetime64[ns]'),
    'B' : pd.Series(randn(9),index=list(range(9)),dtype='float32'),
    'C' : pd.Categorical(["washington", "adams", "washington", "madison", "lincoln","jefferson", "hamilton", "roosevelt", "kennedy"]),
    'D' : ["foo", "bar", "buzz", "bippity","boppity", "foo", "foo", "bar", "zoo"] })
df_types['E'] = df_types['D'] == 'foo'
qgrid_widget = qgrid.QgridWidget(df=df_types, show_toolbar=True)
qgrid_widget

UWdyaWRXaWRnZXQoZ3JpZF9vcHRpb25zPXsnaGlnaGxpZ2h0U2VsZWN0ZWRSb3cnOiBUcnVlLCAnZnVsbFdpZHRoUm93cyc6IFRydWUsICdyb3dIZWlnaHQnOiAyOCwgJ2VuYWJsZUNvbHVtblLigKY=

If you make any sorting/filtering changes, or edit the grid by double clicking, you can retrieve a copy of your DataFrame which reflects these changes by calling get_changed_df on the QgridWidget instance returned by show_grid.

In [5]:
qgrid_widget.get_changed_df()

           A         B           C        D      E
2 2013-01-03 -0.736818  washington  buzz     False
0 2013-01-01  0.030765  washington  foo      True
7 2013-01-08 -1.355409  roosevelt   bar      False
3 2013-01-04  0.689274  madison     bippity  False
4 2013-01-05  0.367802  lincoln     boppity  False
8 2013-01-09  0.544976  kennedy     zoo      False
5 2013-01-06 -2.361572  jefferson   foo      True
6 2013-01-07 -0.785215  hamilton    foo      True
1 2013-01-02  1.018985  adams       bar      False